html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.swiper-pagination {
  position: static;
  transform: none !important;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  text-align: center;
  width: 10px;
  height: 10px;
  opacity: 1;
  background: rgba(113, 113, 113, 0.838);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #ffffff;
}

.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 25px;
  padding-top: 60px;
}

.sidebar.closed {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

#content.active {
  margin-left: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border: none;
  opacity: 0;
}

.openbtn:hover {
  background-color: #444;
}

#content {
  transition: margin-left 0.3s;
  padding: 16px;
  padding-left: 30px;
  margin-left: 32%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}